
/* css reset */
:root {
    font-size: 16px;
    --light: #ededed;
    --dark: #333333;
    --accent: #ff3300;
    --primary: #008080;
    --secondary: #ffaa00;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* landing page styling */
.container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.title h1{
    margin: 8rem;
    padding: 1rem;
    font-size: 8rem;
}

.start{
    margin: 8rem;
    padding: 1rem;
}

/* canvas styling */
canvas {
    top: 0;
    left: 0;
    background: var(--dark);
}